$max-mobile-width: 64em;

.toolbar {
  display: flex;

  &-group {
    flex: 1;

    &__sidebar-button {
      @media screen and (min-width: $max-mobile-width){
        display: none;
      }
    }

    &--left {
      text-align: left;
    }

    &--center {
      flex: 2;
      margin: auto;
      text-align: center;

      img {
        height: 3em;
      }
    }

    &--right {
      text-align: right;
    }
  }
}
