@model LoggedOutViewModel

<div class="logout">
    <h1>You are now logged out</h1>

    @if (Model.PostLogoutRedirectUri != null)
    {
        <a href="@Model.PostLogoutRedirectUri" draggable="false">Return to application</a>
    }
</div>