@model LoginInputModel
@{
    Layout = "_AccountLayout";
}
<form asp-route="Login" novalidate>
    <img src="~/white-logo.png" alt="Workflow Manager Logo">
    <input type="hidden" asp-for="ReturnUrl" />
    <div class="form-group">
        <input class="login__panel__row__input" type="text" asp-for="Username" autocomplete="off" autofocus required />
        <span class="login__panel__row__bar"></span>
        <label class="login__panel__row__label">Username</label>
    </div>
    <div class="form-group">
        <input class="login__panel__row__input" type="password" asp-for="Password" autocomplete="off" required />
        <span class="login__panel__row__bar"></span>
        <label class="login__panel__row__label">Password</label>
    </div>
    <div class="form-group">
        <button value="login">Login</button>
    </div>
    <div class="form-group">
        <a href="/account/login">Forgot your password?</a>
    </div>
</form>

