@model LoginInputModel
@{
    Layout = "";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Workflow Manager - Identity Service</title>
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
    <link rel="stylesheet" href="~/css/login.css" />
</head>
<body>
    <div class="login">
        <form class="login__panel" asp-route="Login">
            <img src="~/white-logo.png" alt="Workflow Manager Logo">
            <input type="hidden" asp-for="ReturnUrl" />
            <div class="login__panel__row">
                <input class="login__panel__row__input" type="text" asp-for="Username" autofocus autocomplete="off" required />
                <span class="login__panel__row__bar"></span>
                <label class="login__panel__row__label">Username</label>
            </div>
            <div class="login__panel__row">
                <input class="login__panel__row__input" type="password" asp-for="Password" autocomplete="off" required />
                <span class="login__panel__row__bar"></span>
                <label class="login__panel__row__label">Password</label>
            </div>
            <div class="login__panel__row">
                <a href="/account/login">Forgot your password?</a>
            </div>
            <div class="login__panel__row">
                <button value="login">Login</button>
            </div>
        </form>
    </div>
</body>
</html>
