@page "/handling/{applicationId:guid}"
@inject HttpClient http 
<h3>HandlingPage</h3>

@code {
    [Parameter]
    public Guid ApplicationId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
      //  http.GetAsync($"/api/") TODO: Add here call to /api/handling/{id}/can-handle

    }
}
