.login {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(2, 0, 36);
    background: linear-gradient(344deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

.login .login__panel {
    width: 30em;
    height: 50vh;
    text-align: center;
}

.login .login__panel img {
    width: 100%;
    height: auto;
}

.login .login__panel .login__panel__row {
    margin-top: 1em;
    position: relative;
    margin: 45px 0;
}
/*.login .login__panel .login__panel__row input {
  width: 60%;
  background-color: transparent;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}*/

.login .login__panel .login__panel__row button {
    font-size: 1.5em;
    width: 40%;
    border-radius: 4em;
    background-color: white;
}

.login .login__panel .login__panel__row button :hover {
}

.login__panel__row__bar,
.login__panel__row__label,
.login__panel__row__input {
    margin: auto;
}

/*begin*/
.login__panel__row__input,
input:-webkit-autofill {
    background: none;
    color: #c6c6c6;
    font-size: 18px;
    /*padding: 10px 10px 10px 5px;*/
    padding: 10px 0;
    display: block;
    width: 320px;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #c6c6c6;
}

.login__panel__row__input:focus {
    outline: none;
}

.login__panel__row__input:focus ~ .login__panel__row__label,
.login__panel__row__input:valid ~ .login__panel__row__label {
    top: -14px;
    font-size: 12px;
    color: #2196f3;
}

.login__panel__row__input:focus ~ .login__panel__row__bar:before {
    width: 320px;
}

input.login__panel__row__input[type="password"] {
    letter-spacing: 0.3em;
}

.login__panel__row__label {
    color: #c6c6c6;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 80px;
    top: 10px;
    transition: 300ms ease all;
}

.login__panel__row__bar {
    position: relative;
    display: block;
    width: 320px;
}

.login__panel__row__bar:before {
    content: "";
    height: 2px;
    width: 0;
    bottom: 0px;
    position: absolute;
    background: #2196f3;
    transition: 300ms ease all;
    left: 0%;
}

input:-webkit-autofill {
    transition: background-color 5000s ease-in-out 0s;
    background: none;
    color: #c6c6c6;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 320px;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #c6c6c6;
    -webkit-text-fill-color: #c6c6c6 !important;
}

input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    transition: background-color 5000s ease-in-out 0s;
}
