<form class="process-edit-form"
      [formGroup]="reactForm"
      (ngSubmit)="submitFormEvent.emit(reactForm.value)">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{formTitle}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
        <mat-error>Name is required.</mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button
              (click)="closeFormEvent.emit()">
        Cancel
      </button>
      <button mat-button
              type="submit"
              [disabled]="reactForm.invalid">
        Save
      </button>
    </mat-card-actions>
  </mat-card>
</form>
