<form [formGroup]="reactForm" (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{formTitle}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
        <mat-error>Name is required.</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Select process</mat-label>
        <mat-select formControl="processKey">
          <mat-option *ngFor="let process of processes$ | async"
                      [value]="process.$key">{{process.name}}
          </mat-option>
        </mat-select>
        <mat-error>Process is required.</mat-error>
      </mat-form-field>

      <mat-checkbox formControlName="isInitial"
                    (change)="onCheckboxChange($event.checked)">
        Initial Transaction
      </mat-checkbox>

      <mat-form-field>
        <mat-select formControlName="incomingStatusKey"
                    placeholder="Incoming Status">
          <mat-option>-</mat-option>
          <mat-option *ngFor="let status of statuses$ | async"
                      [value]="status.$key">
            {{status.name}}
          </mat-option>
        </mat-select>
        <mat-error>Incoming status is required.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-select formControlName="outgoingStatusKey"
                    placeholder="Outgoing Status">
          <mat-option>-</mat-option>
          <mat-option *ngFor="let status of statuses$ | async"
                      [value]="status.$key">
            {{status.name}}
          </mat-option>
        </mat-select>
        <mat-error>Outgoing status is required.</mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button
              (click)="closeFormEvent.emit()">
        Cancel
      </button>
      <button mat-button
              type="submit"
              [disabled]="reactForm.invalid">
        Save
      </button>
    </mat-card-actions>
  </mat-card>
</form>
